<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/resume_style.css" media="screen">
    <link rel="stylesheet" href="css/resume_print.css" media="print">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato&family=PT+Sans:wght@700&family=Raleway:wght@700&display=swap" rel="stylesheet"> 
    <title>Kishan Verma</title>
</head>
<body>
    <div class="container">
        <div id="header" class="row-flex" style="justify-content: space-between;">
            <div class="left-box">
                <p><span id="name">Kishan Verma</span><br>
                Student at Motilal Nehru National Institute of technology</p>
            </div>
            <div class="right-box">
                <ul class="list-none">
                    <li><span class="material-icons">call</span> <span style="padding-bottom: 1px;">+91 8173865691</span></li>
                    <li><span class="material-icons">email</span><a href="mailto:kishanverma2312@gmail.com"> kishanverma2312@gmail.com</a></li>
                    <li><span class="material-icons">link</span><a href="www.linkedin.com/in/kishan-23"> Linkedin</a></li>
                    <li><i class="material-icons">home</i> Chauri Chaura, Gorakhpur, Uttar Pradesh</li>
                </ul>
            </div>
        </div>
        <div class="content gradient-bg">
            <div class="content-box">
                <h2>EDUCATION</h2>
                <div class="content-item">
                    <h3>Motilal Nehru National Institute of Technology Allahabad, Prayagraj</h3>
                    <p>Bachelor of Technology<br>
                    <span>Computer Science & Engineering</span></p>
                    <span>CPI: 8.47(Till 4<sup>th</sup> Semester)</span>
                </div>
                <div class="content-item">
                    <h3>Central Academy, Chauri Chaura</h3>
                    <p>CBSE Class 12<sup>th</sup> : 89.4%</p>
                    <span>2018</span><br>
                    <p>CBSE Class 10<sup>th</sup> : 10 CGPA</p>
                    <span>2016</span><br>
                </div>
            </div>
    
            <div class="content-box">
                <!-- <div style="padding: 5px 0px 5px 3px"> -->
                    <h2>TECHNICAL SKILLS</h2>
                    <ul>
                        <li><b>Programming Languages: </b> C, C++, Java, Python(Basic). </li>
                        <li><b>Web Development: </b> HTML, CSS. </li>
                        <li><b>IDE/Software: </b> IntelliJ IDEA, DevC++, VS Code, Git. </li>
                        <li><b>OS: </b> Windows. </li>
                        <li><b>Others: </b> JavaFx. </li>
                    </ul>
                <!-- </div> -->
                
            </div>
    
            <div class="content-box">
                <div class="content-item">
                    <h2>PROJECTS</h2>
                    <h3> <a href="https://github.com/kishan-23/SmartShare">Smart Share</a></h3>
                    <ul>
                        <li>Key-Based file sharing desktop app.</li>
                        <li>User can Sign in or Sign Up, can set maximum no. of downloads & time up to which file is available on server.</li>
                        <li>Core working is implemented in JAVA, Socket programming over TCP is used for server-client network.</li>
                        <li>Frontend (GUI) is prepared using JavaFX and MySQL is used for database.</li>
                    </ul>
                </div>
            </div>
    
            <div class="content-box">
                <h2>Areas of Interest</h2>
                <ul>
                    <li>Data Structure and Algorithms.</li>
                    <li>Object Oriented Programming.</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>