<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ResuMaker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="css/mystyle.css"> --}}
</head>
<body>
    {{>navbar}}
    <div
        style="background: url('Images/back1a.jpeg'); height: 715px; margin-top: 20px; border-bottom: 1px solid black;">
        <img src="./Images/logo1.png" alt="logo" srcset="" height="80px"
            style="position: absolute; top:90px; left:78vw" class="rounded">
        <a href="login" class="btn btn-outline-dark btn-lg" style="position: absolute; top:590px; left:30%"> Get
            Started</a>
    </div>
</body>
</html>